{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
  <article class="custom-post" data-wow-duration=".8s">

    <header class="post-header">
      {{#if featured}}
        <div class="post-header-featured">
          <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

          <div class="featured-label">
            <span class="icon-featured"></span>
          </div>
        </div>
      {{else}}
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
      {{/if}}
      <p class="post-meta">
        <time datetime="{{date format='YYYY-MM-DD'}}">于 {{date format="MMMM DDDD, YYYY"}}</time>
        {{tags prefix="in "}}
      </p>
      {{#if image}}
        <section class="featured-image">
          <a href="{{url}}">
            <!--<img src="{{image}}" alt="{{title}}">-->
              <div class="cover-title-img"
                   style="background-image: url('{{image}}')">
              </div>

          </a>
        </section>
      {{/if}}
    </header>

    <section class="post-content">
      <p>{{excerpt words="12"}}</p>
      <p><a href="{{url}}" class="more-link">继续</a></p>
    </section>

  </article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
